@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --app-color: #701F47;
    --system-light-theme-color: #F9FAFD
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Cairo", "Poppins", "Roboto","Helvetica", "Arial", sans-serif !important;
}


/* Track */
*::-webkit-scrollbar {
    width: .5em;
    height: 5px
}

*::-webkit-scrollbar-track {
    background-color: #fff;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--app-color);
    transition: .3s all ease-in-out;
    border-radius: 0;
    cursor: pointer;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background-color: #fff;
    box-shadow: 0 0 5px 5px inset rgba(17, 19, 34, 0.36);
}