
.active > div{

}
.active > div span {
    color: #fff;
    font-weight: bold;

}
.active > div path {
    fill: #fff;
}

.drawersTaskCloseIcon {
    transform: scale(-1);
    justify-content: space-between;
    padding: 0 !important;
    margin-right: 1rem;
}

.drawersTaskIcon {
    padding: 0 !important;
}

.drawersTaskButton {
    min-width: 20px !important;
    padding: 0 !important;
}

.descTitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.title {
    color: #ECECEC;

}

.inputSubTask, .inputSubTask:focus-visible, .inputSubTask:focus, .inputSubTask:visited {
    background-color: transparent;
    color: white;
    border: none !important;
    box-shadow: none !important;
    width: 100px;
}

.formSubTask {
    display: flex;
    justify-content: space-between;
}

.subTaskTable {
    color: white !important;
    display: flex;
    align-items: center;

}

.subtaskHeadrCell {
    display: flex;
    align-items: center;
    width: 150px !important;
    color: #B4B4B4;
}

.tableSubContainer {
    /*max-height: 30%!important;*/
    /*height: 30%!important;*/
    /*overflow-y: scroll!important;*/

}

.subTaskInput {
    min-width: 150px !important;
    /*max-width: 150px !important;*/

    color: black !important;
}

.editIcon {
    cursor: pointer;
    margin-left: 5px;
    filter: invert(1);
}

.dueDate {
    border: none !important;
}

.tableSubTask {
    width: 100%;

}

.tableSubTaskHR {
    width: 100px;
    height: 10px;
    background-color: #bd362f;
}

.submit, .submit:focus-visible, .submit:focus {
    background-color: transparent;
    border: none;
}

.commentsSection {
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.comments {
    bottom: 90px;
    border: 1px solid #B4B4B4;
    border-radius: 4px;
    width: 90%;
    align-self: center !important;
    padding: 1rem;
    overflow-x: scroll;
}

.comments::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.comments {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.addComments {
    display: flex;
    justify-content: space-between;
    background: #202025;
    height: 80px;
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
    /*overflow: hidden !important;*/
}

.mention {
    display: flex;
    align-items: center;
}

.drawerForm {
    height: 100vh;
    overflow-y: scroll;
}

.commentTitle {
    width: 100%;
    text-align: start;
    padding: 1rem;
}

.commentRow {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.commentUser {
    display: flex;
    align-items: center;

}

.avatarUserComment {
    height: 25px !important;
    width: 25px !important;
    font-size: 14px !important;
}

.commentText {
    font-size: 12px;
    padding-left: 5px;

}

.commentAvatart {
    height: 25px !important;
    width: 25px !important;
    font-size: 10px !important;

}

.assignAvatar, .assignAvatarGroup {
    height: 30px !important;
    width: 30px !important;
    font-size: 15px !important;

}

.pageTask {
    /*background-color: #35353A !important;*/
}

.tagComment {
    color: #4599FF !important;
    font-weight: bold;
}

/*mention*/
.mentions, .mentions:focus-visible {
    margin: 1em 0;
    border: none !important;
    min-width: 450px !important;
    max-width: 450px !important;
    width: 100% !important;
    outline: none;

}

.SideBar_mentions__dV1Gm__highlighter {
    max-height: 4em !important;
    max-width: 50em !important;
}

.mentions textarea, .mentions textarea:focus-visible {
    border: none !important;
    outline: none;
    color: white !important;
    max-height: 4em !important;
    max-width: 50em !important;
}

.mentions ul, .mentions ul:focus-visible {
    background-color: #D9D9D9 !important;
    bottom: 0 !important;
    position: absolute;
    width: 150px;
}

.mentions ul li:hover {
    color: var(--system-light-theme-color) !important;
    /*background-color: var(--system-dark-theme-color) !important;;*/
}

.mentions ul li {
    /*color: var(--system-dark-theme-color) !important;*/
}


.mention-input:focus {
    outline: none;
}

.mentions--singleLine .mentions__control {
    display: inline-block;
}

.mentions--singleLine .mentions__higlighter {
    padding: 1px;
    border: none !important;
}

.mentions--singleLine .mentions__input {
    padding: 5px;
    border: none !important;
}

.mentions--multiLine .mentions__control {
    font-family: monospace;
    font-size: 14pt;
    border: none !important;
}

.mentions--multiLine .mentions__highlighter {
    padding: 9px;
}

.mentions--multiLine .mentions__input {
    padding: 9px;
    min-height: 63px;
    outline: 0;
    border: 0;
}

.SideBar_mentions__dV1Gm__suggestions {
    bottom: 0;
    top: auto !important;
}

.mentions__suggestions__list {
    /*background-color: var(--system-dark-theme-color) !important;;*/
    color: white;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
}

.mentions__suggestions__item {
    padding: 5px 15px;
    font-size: 16px !important;
    border: none !important;
    color: white;
}

.mentions__suggestions__list {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    font-size: 10pt;
}

.mentions__suggestions__item {
    padding: 5px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.mentions__suggestions__item--focused {
    background-color: #cee4e5;
}

.mentions__mention {
    background-color: #d9d9d92b;
    font-weight: bold;
}

.goalDate {
    display: flex !important;
    align-items: center !important;

}

/*files*/
.fileCard {
    width: 199px;
    height: 64px;
    background: rgba(224, 224, 224, 0.62);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.fileCardIcon {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 50px;
    height: 100%;
}